<div class='reading_list'>
    <% if (typeof bookmarklet !== 'undefined') { %>
        <a href="<%= bookmarklet.replace(/\n/g,'').replace(/\r/g,'')  %>"><%= bookmarklet_link_text || '!!' %></a>
    <% } %>
    <ol class="resource_list">
    <% resources.forEach(function(resource) { %>
        <li>
            <a href="<%= resource.entry %>" target="<%=typeof link_target === 'undefined'? '_self' : link_target %>"><h1><%= resource.title  %></h1></a>
            <div class="description"><%- resource.description %></div>
            <% if (resource.pages) { %>
                <span class="pages">(<%= resource.pages.length %> pages)</span>
                <% resource.pages.forEach(function(page) { %>
                    <div class="page">
                        <%- page.description %>
                    </div>
                <% }); %>

            <% } %>
        </li>
    <% }); %>
    </ol>
</div>
