<div class='reading_list'>
    <% if (typeof bookmarklet !== 'undefined') { %>
        <a href="<%= bookmarklet.replace(/\n/g,'').replace(/\r/g,'')  %>">!! S01E01</a>
    <% } %>
    <ul>
    <% resources.forEach(function(resource) { %>
        <li>
            <a href="<%= resource.entry %>" target="<%=typeof link_target === 'undefined'? '_self' : link_target%>"><h1><%= resource.title  %></h1></a>
            <% if (resource.pages) { %>
                <span>(<%= resource.pages.length %> pages)</span>
            <% } %>
            <p><%= resource.description %></p>
        </li>
    <% }); %>
    </ul>
</div>
